MYSQL_ROOT_PASSWORD=devroot
MYSQL_PASSWORD=devpass
MYSQL_DATABASE=visits
MYSQL_USER=visitapp
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_SSL_CA=
MYSQL_SSL_CERT=
MYSQL_SSL_KEY=
MYSQL_SSL_VERIFY_SERVER_CERT=false
MYSQL_SSL_VERIFY_CLIENT_CERT=false